.base {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.rightAlign {
  text-align: right;
}

.buttonPrimary {
  min-width: 100px;
  color: var(--button-text-color);
  background-color: var(--primary-color);
}

.buttonSecondary {
  min-width: 40px;
  color: var(--text-color);
  background-color: var(--light-background);
}

.buttonEmpty {
  height: initial;
  padding: 0;
  font-size: 16px;
  color: var(--primary-color);
}

.pressed {
  opacity: 0.85;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
