.base {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 32px;
  width: 512px;
  margin: auto;
}

.container {
  border-radius: 12px;
  padding: 16px;
}

.containerWithBackground {
  background-color: var(--panel-background);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 700px) {
  .base {
    padding-bottom: 0;
    width: 100%;
  }
  .container {
    border-radius: 0;
  }
  .containerWithBackground {
    border-top: 1px solid var(--border-color);
  }
}
