.container {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
}

.base {
  width: 100%;
  max-width: 764px;
  padding: 32px;
  box-sizing: border-box;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
  font-size: 34px;
  font-weight: 700;
}

.subtitle {
  font-size: 26px;
  font-weight: 500;
  line-height: 34px;
  color: var(--text-secondary-color);
}

@media screen and (max-width: 700px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
    font-size: 26px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 26px;
  }
}
