.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 3;
  height: 40px;
  padding: 0 8px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--input-background);
  outline: none;
}

.input::placeholder {
  color: var(--border-color);
}
