.base {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  padding: 24px 24px;
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);
  background-color: var(--panel-background);
  display: flex;
  flex-direction: column;
}
