:root {
  --primary-color: #6240b5;
  --error-color: #f12b43;
  --border-color: #d0d1d1;
  --text-color: #2b2f30;
  --text-secondary-color: #898c8c;
  --button-text-color: #ffffff;
  --input-background: #ffffff;
  --light-background: #f5f5f5;
  --panel-background: rgba(255, 255, 255, 0.9);
  --dropzone-over-color: rgba(98, 64, 181, 0.05);
  --dropzone-error-color: rgba(241, 43, 67, 0.06);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}
