.base {
  position: relative;
  min-width: 100px;
  height: 40px;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
}

.progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: 0 0;
  transition: scale 200ms;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: var(--button-text-color);
  font-size: 16px;
  padding: 0 16px;
}
