.group {
  position: relative;
  display: flex;
  flex-direction: column;
  touch-action: none;
}

.track {
  position: relative;
  height: 30;
  width: 100%;
}

.bar {
  position: absolute;
  top: 13px;
  left: 0px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.barLeft {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  background-color: var(--primary-color);
  transform-origin: 0 0;
}

.barRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  background-color: var(--text-secondary-color);
  transform-origin: 100% 100%;
}

.thumbBase {
  position: relative;
  width: 20px;
  height: 20px;
  top: 4px;
}

.thumb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--text-secondary-color);
  transition: background-color 500ms;
}

.thumbFocused {
  background-color: var(--primary-color);
}
